name: MuleSoft Application Management

on:
  workflow_dispatch:
    inputs:
      BusinessGroup:
        description: Select environment
        required: true
        type: choice
        options: [telusko,harsha]
      environment:
        description: Select environment
        required: true
        type: choice
        options: [dev, test, load, stage, prod]
      action:
        description: Action to apply on apps
        required: true
        type: choice
        options: [start, stop, restart,update]

jobs:
  manage-applications:
    runs-on: ubuntu-latest

    # This makes GitHub load Environment-level secrets for the chosen bg & env
    environment: ${{ inputs.BusinessGroup }}-${{inputs.environment}}

    env:
      CLIENT_ID: ${{ secrets.CLIENT_ID }}

    steps:
    - name: Print len
      run: |
        echo "Printing dev client id length: ${#CLIENT_ID}"


   
