name: MuleSoft Application Management

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Select environment
        required: true
        type: choice
        options:
          - dev
          - test
          - load
          - stage
          - prod

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Printing How are you with env name
        run: echo "Hi ${{inputs.environment}}"
  
      
