name: MuleSoft Application Management

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Select environment
        required: true
        type: choice
        options:
          - dev
          - test
          - load
          - stage
          - prod

jobs:
  first_job:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Listing Files
        run: ls

      - name: Print environment secrets
        run: |
          echo "Hi user, devUser var is ${{ vars.devUser }}"
          echo "${{ github.event.repository.name }}"
          echo "RepoName=Swarup_personal_repo" >> $GITHUB_ENV
          echo "DevClient=${{ secrets.DEV_CLIENT_ID }}" >> $GITHUB_ENV

      - name: printing from env var
        run: |
          echo "printing repo name from env var $RepoName"
          echo "Printing dev client id length: ${#DevClient}"
         
        
