name: MuleSoft Application Management

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Select environment
        required: true
        type: choice
        options:
          - dev
          - test
          - load
          - stage
          - prod

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Listing Files
        run: ls

      - name: Print environment secrets
        run: |
              echo "Hi user, env_id is ${{vars.devUser}}"
              echo "${{github.event.repository.name}}"
